.becomeHostContainer {
    padding: 2rem 5rem;
}
.becomeHost {
    height: 40rem;
    object-fit: contain;
    background: url('https://a0.muscache.com/im/pictures/2595054e-d1d9-4fde-8046-58d51fcb3164.jpg?im_w=720')
        no-repeat center center/cover;
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
}
.becomeHostInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: fit-content;
    width: 40rem;
    color: var(--clr-white);
    margin-left: 10rem;
}

.tryHosting{
    border:2px;
    color:rgb(255, 255, 255);
    background-color: rgb(226, 66, 66);
    padding: 10px;
    border-radius: 10px;
    margin-left: 600px;
    align-items: center;
}
.tryHosting:hover{
    border:2px;
    color:rgb(238, 39, 39);
    background-color: rgb(255, 253, 253);
    padding: 10px;
    border-radius: 10px;
    margin-left: 600px;
    align-items: center;
}
.hosting{
    margin-top:20px ;
}
/* .hosting:hover{
    background-color: rgb(255, 255, 255);
    color:red;
} */